@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import '../fonts/KNYuanmo-Regular/result.css';

:root {
  font-family: 'BlinkMacSystemFont', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --s-title-font: 'KN Yuanmo SC', sans-serif;
  --s-background: var(--p-secondary-50);
  background-color: var(--s-background) !important;
}
